@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: wheat;
    font-family: 'Roboto', sans-serif;
}
p {
    text-align: center;
}
button {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    width: 250px;
    height: 40px;
    background-color: black;
    color: white;
    transition-duration: 0.75s;
}
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
#focim, #info {
    text-align: center;
}

#tablazat{
    /*text-align: center;
    display: block;
    margin: auto;
    padding: 0;*/
    margin-left: auto;
    margin-right: auto;
}
.sor {
    text-align: center;
}